<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watch</title>
    <link rel="Stylesheet" href="/Style/styles.css ">
    <link rel="Stylesheet" href="/Style/watches.css ">
    <link rel="icon" type="image/x-icon" href="/Images/sablier.png">
    <script src="/Script/watch.js" defer></script>
</head>
<header>
    <div class="navbar">
        <div class="left">
            <div class="logo">
                <img src="/Images/sablier.png" alt="logo">
            </div>
        </div>
        <div class="right">
            <a href="/">Home</a>
            <a href="/Watches" class="active">Watches</a>
            <a href="/Views/About">About</a>
            <a href="/Views/Contact">Contact</a>
            <a href="/Views/Account">Account</a>
        </div>
    </div>
</header>
<body>
<div class="watchDB">Currently 284 Watches in DB  (next Update in 00h23m)</div>
<div class="container">
    <div class="filter-container"></div>
    <div class="filter-watches-container">
        <div class="filter-watches">
            <div class="main-info">
                <div class="watch-model">Daytona 33 raid dead Redemption</div>
                <div class="watch-release">- 2022 - </div>
            </div>
            <div class="watches-button">
                <div class="watch-price">20 500$</div>
                <div class="button-container"><button class="button">More Infos</button></div>
            </div>
        </div>
    </div>

</div>

</body>
</html>